APP_NAME=MigrationDemo
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

DB_SERVER=localhost\SQLEXPRESS
DB_NAME=MigrationDemoDb
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_TRUSTED_CONNECTION=yes
DB_TRUST_SERVER_CERTIFICATE=yes
